<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zoe.blog.dao.LogDao">

    <select id="getLogs" resultType="com.zoe.blog.model.Log">
        select * from b_log
        <where>
            <if test="level != null and level != ''">
                level=#{level}
            </if>
            <if test="date != null and date != ''">
                AND DATE_FORMAT(FROM_UNIXTIME(create_date/1000),'%Y-%m-%d')=#{date}
            </if>
        </where>
        order by create_date desc
    </select>

    <select id="getLevelGroup" resultType="string">
        SELECT level from b_log GROUP BY level
    </select>

    <delete id="delete">
        delete from b_log where id=#{id}
    </delete>
</mapper>