<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zoe.blog.dao.UvDao">

    <select id="getRecentlySevenDays" resultType="com.zoe.blog.model.Uv">
        select * from b_uv
        where DATE_SUB(CURDATE(), INTERVAL 7 DAY) <![CDATA[<= ]]> date(date_time)
        ORDER BY date_time
    </select>

    <select id="getCurrentDay" resultType="com.zoe.blog.model.Uv">
        SELECT * FROM b_uv WHERE date=DATE_FORMAT(now(),'%Y%m%d')
    </select>

    <select id="getUvAmount" resultType="com.zoe.blog.dto.UvAmountParam">
        SELECT SUM(uv) AS uv,SUM(comments) as comments FROM b_uv
    </select>

    <insert id="insert">
      insert into b_uv (date, date_time) values (DATE_FORMAT(NOW(),'%Y%m%d'), now())
    </insert>

    <update id="addOneUv">
        UPDATE b_uv SET uv=uv+1 WHERE date=DATE_FORMAT(NOW(),'%Y%m%d')
    </update>


    <update id="addOneComments">
        UPDATE b_uv SET comments=comments+1 WHERE date=DATE_FORMAT(NOW(),'%Y%m%d')
    </update>

</mapper>